@tailwind base;
@tailwind components;
@tailwind utilities;

.black {
  background-color: black;
}

.gray {
  background-color: gray;
}

.navy {
  background-color: navy;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.silver {
  background-color: silver;
}

.lightblue {
  background-color: lightblue;
}

.darkblue {
  background-color: darkblue;
}

.brown {
  background-color: brown;
}
